docs/spec/*.log
docs/spec/*.acn
docs/spec/*.aux
docs/spec/*.dvi
docs/spec/*.glo
docs/spec/*.ist
docs/spec/*.log
docs/spec/*.out
docs/spec/*.pdf
docs/spec/*.pgo
docs/spec/*.synctex.gz
docs/spec/*.tdo
docs/spec/*.toc
docs/spec/*.acr
docs/spec/*.alg
docs/spec/*.brf
docs/spec/*.glg
docs/spec/*.gls
docs/spec/*.pgi
docs/spec/*.plg
*.dSYM
src/include/darma/interface/frontend/serialization_manager_old.h
*.backup.h
.flooignore
.idea
docs/spec/.gitignore
docs/spec/.texlipse
docs/spec/doxygen-backend/latex
examples/fib
examples/functor_examp.cc
examples/hello/
examples/indexing_sketches/
examples/pic_sketch.cc
examples/potentially_problematic/
examples/ser_des_examp.cc
examples/serdes_sketches/
examples/stencil_1d/
examples/stencil_1d_live.cc
examples/tmp.cpp
git_merge_info.txt
queue_main_compiler_tests.zsh
src/darma_include.tgz
tmp
Project_Default.xml
DARMA_code_style.xml
examples/collectives
examples/collectives_demo.cc
examples/class_presentation.cc
*.cmake
*~
*.decl.h
*.def.h
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
Makefile
Testing/
backend_validation/CMakeFiles/
backend_validation/Makefile
backend_validation/Testing/
backend_validation/run_all_backend_tests
backend_validation/test_darma_backend_initialize
backend_validation/test_death
backend_validation/test_fetchers
backend_validation/test_get_running_task
backend_validation/test_register_task
backend_validation/test_runtime_release_handle
backend_validation/using_mock_frontend/
backend_validation/using_real_frontend/CMakeFiles/
backend_validation/using_real_frontend/Makefile
backend_validation/using_real_frontend/Testing/
backend_validation/using_real_frontend/test_create_condition_be
backend_validation/using_real_frontend/test_create_work_be
backend_validation/using_real_frontend/test_init_be
backend_validation/using_real_frontend/test_publish_be
docs/spec/sandReportSpec.bbl
docs/spec/sandReportSpec.blg
examples/0.2/CMakeFiles/
examples/0.2/Makefile
examples/0.2/Testing/
examples/0.2/darma_hello/CMakeFiles/
examples/0.2/darma_hello/Makefile
examples/0.2/darma_hello/RandNumGen.h
examples/0.2/darma_hello/Testing/
examples/0.2/darma_hello/collectives.h
examples/0.2/darma_hello/common_poisson1d.h
examples/0.2/darma_hello/constants.h
examples/0.2/darma_hello/level.h
examples/0.2/darma_hello/mc_collect.h
examples/0.2/darma_hello/mc_loop.h
examples/0.2/darma_hello/mlmc_regression_functor.h
examples/0.2/darma_hello/old_darma_hello.cc
examples/0.2/darma_hello/out
examples/0.2/darma_hello/thomas_functor.h
examples/0.2/heat_1d/CMakeFiles/
examples/0.2/heat_1d/Makefile
examples/0.2/heat_1d/heat_1D_darma_simple/CMakeFiles/
examples/0.2/heat_1d/heat_1D_darma_simple/Makefile
examples/0.2/heat_1d/heat_1D_darma_simple/base.0.log
examples/0.2/heat_1d/heat_1D_darma_simple/base.1.log
examples/0.2/heat_1d/heat_1D_darma_simple/base.2.log
examples/0.2/heat_1d/heat_1D_darma_simple/base.3.log
examples/0.2/heat_1d/heat_1D_darma_simple/base.projrc
examples/0.2/heat_1d/heat_1D_darma_simple/base.sts
examples/0.2/heat_1d/heat_1D_darma_simple/heat_1d_darma_simple
examples/0.2/heat_1d/heat_1D_darma_simple/out
examples/0.2/heat_1d/heat_1D_darma_simple/out2
examples/0.2/heat_1d/heat_1D_darma_simple/out3
examples/0.2/heat_1d/heat_1D_darma_simple/out4
examples/0.2/poisson_1d_thomasAlgorithm/CMakeFiles/
examples/0.2/poisson_1d_thomasAlgorithm/Makefile
examples/0.2/poisson_1d_thomasAlgorithm/single_rank/CMakeFiles/
examples/0.2/poisson_1d_thomasAlgorithm/single_rank/Makefile
examples/0.2/poisson_1d_thomasAlgorithm/single_rank/single_rank
examples/0.2/simple_kv/CMakeFiles/
examples/0.2/simple_kv/Makefile
examples/0.2/simple_kv/Testing/
examples/0.2/simple_kv/base.0.log
examples/0.2/simple_kv/base.1.log
examples/0.2/simple_kv/base.projrc
examples/0.2/simple_kv/base.sts
examples/0.2/simple_kv/lines1
examples/0.2/simple_kv/out
examples/0.2/simple_kv/out2
examples/0.2/simple_kv/publish_get_parallel
examples/0.2/spec02individualFunctionalities/CMakeFiles/
examples/0.2/spec02individualFunctionalities/Makefile
examples/0.2/spec02individualFunctionalities/accessHandle1
examples/0.2/spec02individualFunctionalities/accessHandleArrowOperator
examples/0.2/spec02individualFunctionalities/cw1
examples/0.2/spec02individualFunctionalities/cwReadsArg
examples/0.2/spec02individualFunctionalities/initAndFinalize
examples/0.2/spec02individualFunctionalities/initialAccess
examples/0.2/spec02individualFunctionalities/publishAndReadAccess
examples/0.2/spec02individualFunctionalities/rankAndSize
examples/0.2/spec02individualFunctionalities/version
examples/0.2/stencil_1d/CMakeFiles/
examples/0.2/stencil_1d/Makefile
examples/0.2/stencil_1d/darma_simple/CMakeFiles/
examples/0.2/stencil_1d/darma_simple/Makefile
examples/0.2/stencil_1d/darma_simple/Testing/
examples/0.2/stencil_1d/darma_simple/run
examples/0.3/CMakeFiles/
examples/0.3/Makefile
examples/0.3/create_condition/CMakeFiles/
examples/0.3/create_condition/Makefile
examples/0.3/darma_hello/CMakeFiles/
examples/0.3/darma_hello/Makefile
examples/0.3/darma_hello/darma_hello_03
examples/0.3/heat_1d/CMakeFiles/
examples/0.3/heat_1d/Makefile
examples/0.3/heat_1d/heat_1D_darma_simple/CMakeFiles/
examples/0.3/heat_1d/heat_1D_darma_simple/Makefile
examples/0.3/poisson_1d_thomasAlgorithm/CMakeFiles/
examples/0.3/poisson_1d_thomasAlgorithm/Makefile
examples/0.3/poisson_1d_thomasAlgorithm/single_rank/CMakeFiles/
examples/0.3/poisson_1d_thomasAlgorithm/single_rank/Makefile
examples/CMakeFiles/
examples/Makefile
src/CMakeFiles/
src/Makefile
src/Testing/
src/include/CMakeFiles/
src/include/Makefile
src/include/darma/CMakeFiles/
src/include/darma/Makefile
src/include/darma/impl/CMakeFiles/
src/include/darma/impl/Makefile
src/include/darma/impl/config-generated.h
src/include/darma/interface/CMakeFiles/
src/include/darma/interface/Makefile
src/include/darma/interface/app/#access_handle.h#
src/include/darma/interface/app/.#access_handle.h
src/include/tinympl/CMakeFiles/
src/include/tinympl/Makefile
src/reference_backends/CMakeFiles/
src/reference_backends/Makefile
src/reference_backends/serial/Makefile
src/reference_backends/threads/#threads.cc#
src/reference_backends/threads/CMakeFiles/
src/reference_backends/threads/Makefile
src/reference_backends/threads/Testing/
src/reference_backends/threads/dist-charm/driver.a
src/reference_backends/threads/dist-charm/driver.o
src/reference_backends/threads/dist-charm/kv-charm
src/reference_backends/threads/kv-charm/#distkv.cc#
src/reference_backends/threads/kv-charm/.#distkv.cc
src/reference_backends/threads/kv-charm/charmrun
src/reference_backends/threads/kv-charm/distkv.o
src/reference_backends/threads/kv-charm/distkv_cache.o
src/reference_backends/threads/kv-charm/distkv_forwarder.o
src/reference_backends/threads/kv-charm/kv
src/reference_backends/threads/kv-charm/kv.o
src/reference_backends/threads/kv-charm/test.sh
src/reference_backends/threads/libdarma_threads_backend.dylib
src/tests/CMakeFiles/
src/tests/frontend_validation/CMakeFiles/
src/tests/frontend_validation/Makefile
src/tests/frontend_validation/run_all_frontend_tests
src/tests/frontend_validation/test_access_handle
src/tests/frontend_validation/test_create_condition
src/tests/frontend_validation/test_create_work
src/tests/frontend_validation/test_functor
src/tests/frontend_validation/test_initial_access
src/tests/frontend_validation/test_oo
src/tests/frontend_validation/test_read_access
src/tests/frontend_validation/test_serialize
src/tests/frontend_validation/test_simple_key
src/tests/meta/CMakeFiles/
src/tests/meta/run_all_meta_tests
src/tests/meta/test_callable_traits
src/tests/meta/test_kwargs
src/tests/meta/test_splat_tuple
src/tests/meta/test_tuple_for_each
src/tests/meta/test_tuple_zip
src/tests/tinympl/CMakeFiles/
src/tests/tinympl/test_contains_placeholder
src/tests/tinympl/test_delay
src/tests/tinympl/test_find
src/tests/tinympl/test_find_all_if
src/tests/tinympl/test_find_if
src/tests/tinympl/test_is_suspension
src/tests/tinympl/test_is_suspension_of
src/tests/tinympl/test_lambda
src/tests/tinympl/test_logical_and
src/tests/tinympl/test_logical_or
src/tests/tinympl/test_min_max
src/tests/tinympl/test_partition
src/tests/tinympl/test_splat
.gitignore
darma_region_demo.cc
reduce_op_sketch.cc
